/* Stylesheet */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  /* background-image: url("../assets/images/backgrounds/snow.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.container {
  /* border: 2px yellow solid; */
  width: 70vw;
  margin-inline: auto;
}
.page-title {
  text-align: center;
  margin-block: 1em;
  /* border: 2px red dashed; */
  width: fit-content;
  margin-inline: auto;
  padding: 0.25em;
  user-select: none;
}
.card {
  /* height: 400px; */
  width: 300px;
  /* margin-inline: auto; */
  /* border: 2px red solid; */
  background: linear-gradient(to right, lightgray 0%, lightgray 45%, #555 100%);
  color: black;
  text-align: center;
  margin-block: 3rem;
  user-select: none;
}

.forecast-card {
  /* position: absolute; */
  width: 300px;
  background: linear-gradient(to left, lightgray 0%, lightgray 45%, #555 100%);
  height: 400px;
}

.weather-icon-div {
  width: 250px;
  height: 250px;
  margin-inline: auto;
}

.weather-icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.hidden{
  display: none;
}
.cards{
  display: flex;
  width: fit-content;
  margin-inline: auto;
}
.app-window {
  position: relative;
  color: white;
  padding: 20px;
  border: 2px black solid;
  /* background-color: #333; */
}

.app-window::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: linear-gradient(to right, lightgray 0%, lightgray 45%, #555 100%);
  /* background-image: url("../assets/images/backgrounds/rain.jpg"); */
  background-size: cover;
  background-position: center;

  opacity: 0.5;

  z-index: -1;
}

.card-title {
  padding-block: 0.5em;
  text-align: center;
}

.expand-button {
  width: fit-content;
  font-size: 2rem;
  margin-inline-end: 1em;
  margin-inline-start: auto;
  cursor: pointer;
}
.footer-text {
  /* position: absolute; */
  display: block;
  /* width: fit-content; */
  /* bottom: 2rem;
  left: 50%;
  transform: translateX(-50%); */
  text-align: center;
}

.get-city-dialog {
  position: absolute;
}
.city-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
  width: fit-content;
  font-size: 1.25rem;
  background-color: gray;
}
.city-selection > * {
  margin-inline: 1em;
  margin-block: 0.25em;
}

.buttons {
  padding: 0.5em 1em;
  font-weight: bold;
  font-size: large;
  margin-block-end: 0.5rem;
  cursor: pointer;
}

.input-box {
  font-size: 1.25rem;
}

.temperature {
  font-size: 2rem;
  font-weight: bold;
}

.weather-condition {
  font-size: 1.5rem;
  font-weight: bold;
}
.progress-dialog {
  position: fixed; /* keep it in the same place */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background: white;
  text-align: center;
}

.progress-bar {
  width: 200px;
  height: 20px;
}


.forecast-date{
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}

.forecast-weather-details{
  width: 80%;
  margin-inline: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.forecast-icon-div{
  width: 50px;
  height: 50px;
  /* border: 1px orange solid; */
}
.forecast-icon{
  object-fit: cover;
  object-position: center;
  width: 50px;
  height: 50px;
  /* align-self: end; */
  justify-self: end;
}