/* Stylesheet */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  /* background-image: url("../assets/images/backgrounds/snow.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
}
.container {
  border: 2px yellow solid;
  width: 70vw;
  margin-inline: auto;
}
.page-title {
  text-align: center;
  margin-block: 1em;
  border: 2px red dashed;
  width: fit-content;
  margin-inline: auto;
  padding: 0.25em;
}
.weather-card {
  height: 400px;
  width: 300px;
  margin-inline: auto;
  border: 2px red solid;
  background-color: aliceblue;
  color: black;
  text-align: center;
  margin-block: 3rem;
}

.weather-icon-div {
  width: 250px;
  height: 250px;
  margin-inline: auto;
}

.weather-icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.app-window {
  position: relative; /* Essential for positioning the pseudo-element */
  color: white; /* Example text color */
  padding: 20px;
  /* You can set a background color as a fallback */
  /* background-color: #333;  */
}

.app-window::before {
  content: ""; /* Pseudo-elements must have a 'content' property */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* Set the background image */
  background-image: url("../assets/images/backgrounds/rain.jpg");
  background-size: cover;
  background-position: center;

  /* This is where you set the transparency */
  opacity: 0.5;

  /* Place the pseudo-element behind the content */
  z-index: -1;
}

.city-name {
  padding-block: 0.5em;
  text-align: center;
}

.expand-button{
    width:fit-content;
    font-size: 2rem;
    margin-inline-end: 1em;
    margin-inline-start: auto;
    cursor: pointer;
}
.footer-text{
    position: absolute;
    display: block;
    width: fit-content;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}